* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    padding-left: 0;
}

ul,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

/* cards margin top */

.cards-mt {
    margin-top: 48px;
}


.content .caption {
    color: #282938;
    font-weight: 500;   
}


.content h3 {
    color: #232536;
    font-family: "Poppins", serif;
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
    margin-top: 16px;
    width: 624px;
}

.content p {
    color: rgba(40, 41, 56, 0.7);
    font-family: "Poppins", serif;
    font-size: 16px;
    line-height: 28px;
    margin-top: 16px;
}

/* common css ends */
/* navbar starts */
.navbar {
    background: #1C1E53;
    padding: 16px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar-nav .nav-item a {
    color: #BBBBCB;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 16px;
}

.navbar-nav .nav-item a:hover {
    color: white;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 16px;
    padding-right: 16px;
}

.navbar-expand-lg .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 48px;
}

.navbar button {
    padding: 16px 48px;
    background: transparent;
    border: 1px solid rgba(244, 246, 252, 0.19);
    border-radius: 41px;
    color: white;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 16px;
    transition: ease 0.5s;
}

.navbar button:hover {
    background: #FCD980;
    color: #1C1E53;
    border: 1px solid #FCD980;
}

/* navbar ends */

/* banner starts */
#banner {
    padding-top: 218px;
    padding-bottom: 128px;
    background: #1C1E53;
}

#banner .banner-details h1 {
    color: white;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 54px;
    line-height: 74px;
}

#banner .banner-details p {
    color: white;
    font-family: "Poppins", serif;
    font-size: 16px;
    margin-top: 24px;
}

#banner .banner-details button {
    font-family: "Manrope", serif;
    font-weight: 600;
    color: #1C1E53;
    font-size: 18px;
    padding: 16px 48px;
    border-radius: 41px;
    background: #FCD980;
    border: 1px solid #FCD980;
    margin-top: 32px;
}

#banner .banner-details button:hover {
    background: transparent;
    color: #FFF;
}

/* banner ends */



/* benefits part starts */
#benefits {
    margin: 128px 0;
}

#benefits .benefits-mt {
    margin-top: 96px;
}

#benefits .benefits-title h2 {
    color: #282938;
    font-family: "Poppins", serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
}

#benefits .cart {
    padding: 50px 33px 48px 48px;
    background: #F4F6FC;
    height: 316px;
}

#benefits .cart h5 {
    color: #282938;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin-top: 25px;
}

#benefits .cart p {
    color: #000;
    font-family: "Poppins", serif;
    font-size: 16px;
    line-height: 28px;
    margin-top: 12px;
}

#benefits .logo-number h3 {
    color: #282938;
    font-family: "Poppins", serif;
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
}
#benefits .logo-number p {
    color: rgba(40, 41, 56, 0.7);
    font-family: "Poppins", serif;
    font-size: 16px;
    line-height: 28px;
}

#benefits .logo-images {
    gap: 75px;
}

/* benefits part ends */


/* best part starts */
#best {
    margin: 128px 0;
}
/* best part ends */

/* revision part starts */

#revision {
    padding: 128px 0;
    background: #F4F6FC;
}

/* revision part ends */

/* support part starts */

#support {
    margin: 128px 0;
}

/* support part ends */

/* deliver part starts */

#deliver {
    padding: 128px 0;
    background: rgba(252, 217, 128, 0.1);
}

/* deliver part ends */

/* best-class part starts */

#best-class {
    margin: 128px 0;
}
/* best-class part ends */


/* faq part starts */
#Faq {
    margin: 128px 0;
}

#Faq .faq-content-left h2 {
    width: 301px;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 56px;
    color: #282938;
}

#Faq .faq-content-left a {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #2405F2;
    margin-top: 16px;
    display: inline-block;
}


#Faq .faq-content-right .accordion-item {
    border-width: 1px 0;
}

#Faq .faq-content-right .accordion-item:first-child {
    border-top-width: 0;
}

#Faq .faq-content-right .accordion-item:last-child {
    border-bottom-width: 0;
}

#Faq .faq-content-right .accordian-caption {
    gap: 59px;
    padding: 21px 0;
}

#Faq .faq-content-right .accordian-caption span {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #2405F2;
}

#Faq .faq-content-right .accordian-caption h4 {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #282938;
}

.accordion-button::after {
    background: url('../images/faq-+.png');
    background-position: center;
    background-repeat: no-repeat;
}

.accordion-button:not(.collapsed)::after {
    background: url('../images/faq-x.png');
    background-position: center;
    background-repeat: no-repeat;
}

.accordion-body p {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #282938;
}

/* faq part ends */

/* footer top part starts */
#footer-top {
    padding-top: 96px;
    background: #1C1E53;
}

#footer-top .footer-top-left>p {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #FFF;
    margin-top: 24px;
    width: 399px;
}

#footer-top .footer-top-left .contact-info {
    gap: 29px;
    padding: 18px 137px 16px 37px;
    background: #FCD980;
    margin-top: 86px;
}

#footer-top .footer-top-left .contact-info h6 {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #282938;
}

#footer-top .footer-top-left .contact-info p {
    font-family: "Poppins", serif;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
    margin-top: 1px;
}

#footer-top .footer-top-right h2 {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #FFF;
}

#footer-top .footer-top-right p {
    font-family: "Poppins", serif;
    font-size: 16px;
    line-height: 28px;
    color: #F4F6FC;
    margin-top: 14px;
}

#footer-top .footer-top-right .social-icons {
    margin-top: 28px;
}
#footer-top .footer-top-right .social-icons a:first-child {
    margin-left: 0;
}
#footer-top .footer-top-right .social-icons a {
    margin-left: 27px;
}

/* footer top part ends */

/* footer part starts */

#footer {
    padding: 32px 0;
    background: #FFF;
}

#footer .copy p {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
}



#footer ul li a {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
    margin-left: 16px;
    margin-right: 16px;
}
#footer ul li:first-child a {
    margin-left: 0;
}
#footer ul li:last-child a {
    margin-right: 0;
}

/* footer part ends */