* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    padding-left: 0;
}

ul,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

/* cards margin top */

.cards-mt {
    margin-top: 48px;
}

/* common css ends */
/* navbar starts */
.navbar {
    background: #1C1E53;
    padding: 16px 0;
}

.navbar-nav .nav-item a {
    color: #BBBBCB;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 16px;
}

.navbar-nav .nav-item a:hover {
    color: white;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 16px;
    padding-right: 16px;
}

.navbar-expand-lg .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 48px;
}

.navbar button {
    padding: 16px 48px;
    background: transparent;
    border: 1px solid rgba(244, 246, 252, 0.19);
    border-radius: 41px;
    color: white;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 16px;
    transition: ease 0.5s;
}

.navbar button:hover {
    background: #FCD980;
    color: #1C1E53;
    border: 1px solid #FCD980;
}

/* navbar ends */

/* privacy-heading part starts */
#privacy-heading {
    margin-top: 128px;
    margin-bottom: 64px;
}

#privacy-heading .heading h2 {
    color: #282938;
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
}

#privacy-heading .heading p {
    color: rgba(40, 41, 56, 0.7);
    font-family: "Poppins", serif;
    font-size: 16px;
    line-height: 28px;
    margin-top: 16px;
}
/* privacy-heading part ends */

/* privacy-body part starts */
#privacy-body {
    margin-top: 80px;
    margin-bottom: 96px;
}

#privacy-body .privacy-content h3 {
    color: #282938;
    font-family: "Poppins", serif;
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
}

#privacy-body .privacy-content p {
    color: rgba(40, 41, 56, 0.7);
    font-family: "Poppins", serif;
    font-size: 16px;
    line-height: 28px;
    margin-top: 32px;
}

#privacy-body .privacy-content ul {
    margin-top: 24px;
    padding-left: 1rem;
}

#privacy-body .privacy-content ul li {
    list-style: disc;
    color: rgba(40, 41, 56, 0.7);
    font-family: "Poppins", serif;
    font-size: 16px;
    line-height: 28px;
    margin-top: 12px;
}

#privacy-body .privacy-content ul li:first-child {
    margin-top: 0;
}

#privacy-body .privacy-content .second-title-mt {
    margin-top: 40px;
}
#privacy-body .privacy-content .last-para-mt {
    margin-top: 16px;
}
/* privacy-body part ends */

/* footer top part starts */
#footer-top {
    padding-top: 96px;
    background: #1C1E53;
}

#footer-top .footer-top-left>p {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #FFF;
    margin-top: 24px;
    width: 399px;
}

#footer-top .footer-top-left .contact-info {
    gap: 29px;
    padding: 18px 137px 16px 37px;
    background: #FCD980;
    margin-top: 86px;
}

#footer-top .footer-top-left .contact-info h6 {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #282938;
}

#footer-top .footer-top-left .contact-info p {
    font-family: "Poppins", serif;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
    margin-top: 1px;
}

#footer-top .footer-top-right h2 {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #FFF;
}

#footer-top .footer-top-right p {
    font-family: "Poppins", serif;
    font-size: 16px;
    line-height: 28px;
    color: #F4F6FC;
    margin-top: 14px;
}

#footer-top .footer-top-right .social-icons {
    margin-top: 28px;
}
#footer-top .footer-top-right .social-icons a:first-child {
    margin-left: 0;
}
#footer-top .footer-top-right .social-icons a {
    margin-left: 27px;
}

/* footer top part ends */

/* footer part starts */

#footer {
    padding: 32px 0;
    background: #FFF;
}

#footer .copy p {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
}

#footer ul li a {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
    margin-left: 16px;
    margin-right: 16px;
}
#footer ul li:first-child a {
    margin-left: 0;
}
#footer ul li:last-child a {
    margin-right: 0;
}

/* footer part ends */